@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Poppins:wght@300;400&family=Roboto:wght@300;400&display=swap');
*{
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;

}
.container{
    height: 100vh;
    width: 100%;
background-image: url(./images/main3webp.webp);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.round{
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 100%;
   
}
nav h2{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 20px;
}
.list ul{
  
    display: flex;
    list-style: none;
    margin-left: 50px;
    margin-top: 10px;
}
.list a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.603);
margin: 50px;
  
}
span{
    color: blue;
    font-size: 30px;
}
.mini-container{
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 50px;
   
}
.mini-container h3{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(240, 248, 255, 0.603);
    margin-top: 50px;
}

.mini-container h1{
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    margin-top: -30px;
}
.mini-container span{
    font-size: 70px;
}
.mini-container p{
    font-size: 12px;
    color: rgba(240, 248, 255, 0.603);
}
.mini-container a{
text-decoration: none;
}
.contect{
    height: 50px;
    width: 80%;
    display: flex;

}
.first{
    height: 100%;
    width: 32%;
    background-color: rgba(146, 136, 136, 0.863);
  
    border-radius: 10px;
    display: flex;
    align-items: center;
padding-left: 20px;
padding-right: 10px;
}
.sec{
    height: 100%;
    width: 33%;
    background-color: rgba(146, 136, 136, 0.863);
    border-radius: 10px;
    display: flex;
    align-items: center;
padding-left: 20px;
padding-right: 10px;
margin-left: 20px;
}
.contect input{
    border: none;
    height: 30px;
    margin-left: 2px;
    width: 80%;
background: none;    
}
.icon{
    height: 20px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contect p{
    font-size: 10px;
}
.contect ::placeholder{
    color: white;
    font-size: 16px;
}
.icon i{
    color: black;
}
.thired{
    height: 50px;
    width: 55%;
    background-color: rgba(146, 136, 136, 0.863);
    border-radius: 10px;
    display: flex;
    align-items: center;
padding-left: 20px;
padding-right: 10px;
display: flex;
justify-content: space-between;
}
.thired input{
   background: none;
    border: none; 
    
}
.thired ::placeholder{
    color:white;
    font-size: 16px;
}

.Fourth{
    height: 50px;
    width: 55%;
    background-color: rgba(146, 136, 136, 0.863);
    border-radius: 10px;
    display: flex;
    align-items: center;
padding-left: 20px;
padding-right: 10px;
display: flex;
justify-content: space-between;
border: 2px solid blue;
box-shadow: 2rem;
}
.Fourth input{
background: none;   
 border: none;
    
}
.Fourth ::placeholder{
    color:white;
    font-size: 16px;
    letter-spacing: 2px;
}
.Fourth p{
    color: blue;
    font-weight: 700;
}
.contect button{
    height: 100%;
    width: 35%;
    border-radius: 50px;
    border: none;
}
#change{
    background-color: rgba(146, 136, 136, 0.863);
    color: #fff;
    font-size: 16px;
}
#create{
    background-color:blue;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
}

 @media screen and (max-width:768px){
    .round{
        margin-left: 10px;
    }
    nav h2{
        font-size: 18px;
    }
    .list a{
        margin-left: 0px;
        font-size: 20px;
    }
    
    .mini-container{
        width: 100%;
       margin-left: 30px;
        
    }
    .mini-container h3{
        font-size: 16px;
    }
    .mini-container p{
        font-size: 16px;}
        .contect{
        
            width: 80%;
        }
        .first{
            width: 40%;
           }
           .sec{
            width: 40%;
           }
           .thired{
            width: 70%;
           }
           .Fourth{
            width: 70%;
           }
           #change{
            width: 40%;
        }
        #create{
            width: 40%;
            margin-left: 20px;
        }

     
} 


 @media screen and (max-width:468px){
     .mini-container h1{
        font-size: 30px;
    }
    .mini-container p{
        font-size: 20px;
    }
    .contect{
      
        width: 100%;
    }
   .first{
    width: 40%;
   }
   .sec{
    width: 40%;
   }
   .thired{
    width: 80%;
   }
   .Fourth{
    width: 80%;
   }
   #change{
    width: 40%;
}
#create{
    width: 40%;
}
.round{
    margin-left: 0px;
}
nav h2{
    font-size: 16px;
}
nav a{
    display: none;
}
} 

